*{
    margin: 0 auto;
    

}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#username{
    display: block;
}
#password{
    display: block;
    margin: 20px 0 15px 0;

}
#error,#error2{
    color: red;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
    display: none;
   
}
